* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.grad {
    background-image: linear-gradient(to right, rgb(190, 190, 190), rgb(255, 255, 255))
}

.header-link {
    display: inline-block;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1%;

}

.header {
    display: flex;
    margin-top: 1%;
    justify-content: center;
    font-size: 250%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    display: flex;
    justify-content: flex-end;
}

header li {
    display: block;
    padding-right: 7%;
}

main {
    display: inline-flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: fit-content;
}

.img-frm {
    display: inline-flex;
    max-width: 100%;
    height: auto;

}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

div {
    flex: 0;
    padding: 80px;
    text-align: left;
    flex-basis: 400px;

}

div h2 {
    width: 25%;
    padding-right: 10%;
    padding-bottom: 20%;
}

div p {
    flex: 1;
}

.img-a {
    justify-content: flex-end;
    max-width: 70%;

}



@media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }
}