* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container {
display: flex;

}



.header {
    font-size: 300%;
    background-color: blue;
}

.links {
    diplay:inline-flexbox
    justify-content: flex-end;
    color: black;
    font-weight: bold;    
}

body {
    display: inline-flexbox;
    background-color: red;
    justify-content: space-between;
}