* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#background-img {
    background-color: rgb(238, 231, 215)
}

header {
    margin: 3% 3% 0 3%;
}

.man {
    display: inline-flex;
    max-width: 10%;
    justify-self: right;
    border-radius: 50%;
    margin-right: 2%;
    border: 2px rgb(224, 231, 0) solid;
}

.container {
    display: flex;
    justify-content: flex-end;
    padding-left: 3%;
}

.header {
    font-size: 300%;
}

.links {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-left: 2%;
}

body {
    min-width: 400px;
}


.hero {
    display: flexbox;
    width: 100%;
    max-height: 400px;
    margin: 1% 0 1% 0;
    border: 6px outset rgb(59, 48, 18);
}

p {
    margin-right: 2%;
    font-size: 20px;
}

.card {
    display: flex;
    width: 100%;
    padding-bottom: 3%;
    justify-content: center;
}

.left-card {
    display: flexbox;
    min-width: 15%;
    margin-left: 3%;
    margin-right: 1%;
    font-size: 30px;
    border-right: 6px rgb(224, 231, 0) solid;
}

.right-card {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.hero-img {
    flex: 0 4 80%;
    width: 87.5%;
    border: 2px black solid;
    margin: 4px;
    border-radius: 2%;
}


.img {

    width: 41%;
    margin: 3px 3px 3px 1px;
    border: 2px black solid;
    border-radius: 2%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4%;
}


.footer-links {
    min-width: 70%;
    text-align: center;

}


@media only screen and (max-width: 2515px) {

    .hero-img {
        max-width: 80%;
    }
}

@media only screen and (max-width: 900px) {

    header {
        text-align: center;
    }

    body {
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }

    .right-card {
        flex-direction: column;
        align-items: center;
    }

    .left-card {
        border-bottom: 6px solid black;
        border-right: none;
    }

    .hero-img {
        max-width: 80%;
    }

    .img {
        width: 80%;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 3%;
        text-align: center;
    }

    .man {
        display: none;
    }

    p {
        margin-right: 3%;
        margin-left: 3%;
    }
}