* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: flex-end;
    padding-left: 3%;
}

.header {
    font-size: 300%;
}

.links {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-left: 2%;
}

body {
    min-width: 400px;
    background-image: url("/images/background.png");
}


.hero {
    width: 100%;
    max-height: 400px;
}

.card {
    display: flex;
    width: 100%;
    padding-bottom: 3%;
    justify-content: center;
}

.left-card {
    display: flex;
    min-width: 15%;
    margin-right: 3%;
    font-size: 30px;
    justify-content: flex-end;
}

.right-card {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: center;
}

.hero-img {
    flex: 0 4 80%;
    padding: 3px;

}


.img {
    padding: 3px;
    max-width: 40%;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#footer-name {
    text-align: right;
    min-width: 30%;
}

.footer-links {
    min-width: 70%;
}


@media only screen and (max-width: 900px) {
    header {
        flex-direction: space-around;
    }

    body {
        background-color: lightblue;
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }

    .right-card {
        flex-direction: column;
    }

}